@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Stolzl';
  src: url('../public/fonts/Stolzl-Light.eot');
  src: local('Stolzl Light'), local('Stolzl-Light'),
  url('../public/fonts/Stolzl-Light.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/Stolzl-Light.woff2') format('woff2'),
  url('../public/fonts/Stolzl-Light.woff') format('woff'),
  url('../public/fonts/Stolzl-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl';
  src: url('../public/fonts/Stolzl-Thin.eot');
  src: local('Stolzl Thin'), local('Stolzl-Thin'),
  url('../public/fonts/Stolzl-Thin.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/Stolzl-Thin.woff2') format('woff2'),
  url('../public/fonts/Stolzl-Thin.woff') format('woff'),
  url('../public/fonts/Stolzl-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl Book';
  src: url('../public/fonts/Stolzl-Book.eot');
  src: local('Stolzl Book'), local('Stolzl-Book'),
  url('../public/fonts/Stolzl-Book.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/Stolzl-Book.woff2') format('woff2'),
  url('../public/fonts/Stolzl-Book.woff') format('woff'),
  url('../public/fonts/Stolzl-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl';
  src: url('../public/fonts/Stolzl-Regular.eot');
  src: local('Stolzl Regular'), local('Stolzl-Regular'),
  url('../public/fonts/Stolzl-Regular.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/Stolzl-Regular.woff2') format('woff2'),
  url('../public/fonts/Stolzl-Regular.woff') format('woff'),
  url('../public/fonts/Stolzl-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl';
  src: url('../public/fonts/Stolzl-Bold.eot');
  src: local('Stolzl Bold'), local('Stolzl-Bold'),
  url('../public/fonts/Stolzl-Bold.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/Stolzl-Bold.woff2') format('woff2'),
  url('../public/fonts/Stolzl-Bold.woff') format('woff'),
  url('../public/fonts/Stolzl-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl';
  src: url('../public/fonts/Stolzl-Medium.eot');
  src: local('Stolzl Medium'), local('Stolzl-Medium'),
  url('../public/fonts/Stolzl-Medium.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/Stolzl-Medium.woff2') format('woff2'),
  url('../public/fonts/Stolzl-Medium.woff') format('woff'),
  url('../public/fonts/Stolzl-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Stolzl", sans-serif;
}

html, body, #__next {
  height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
}

.heading {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
}
